<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <tbody>
          <tr>
            <td>Диагональ</td>
            <td>{{ product.diagonal}}</td>
          </tr>
          <tr>
            <td>Тип дисплея</td>
            <td>{{ product.display_type }}</td>
          </tr>
          <tr>
            <td>Разрешение Экрана </td>
            <td>{{ product.resolution }}</td>
          </tr>
          <tr>
            <td>Объем Батаерии</td>
            <td>{{ product.accum_volume }}</td>
          </tr>
          <tr>
            <td>Оперативная память</td>
            <td>{{ product.ram }}</td>
          </tr>
          <tr>
            <td>Sd</td>
            <td>{{ product.sd }}</td>
          </tr>
          <tr>
            <td>Максимальный Объем Sd</td>
            <td>{{ product.sd_volune_max }}</td>
          </tr>
          <tr>
            <td>Главная Камера</td>
            <td>{{ product.main_cam_mp }}</td>
          </tr>
          <tr>
            <td>Фронтальная Камера</td>
            <td>{{ product.frontal_cam_mp }}</td>
          </tr>
        </tbody>
      </table>
</body>
</html>

